@import "tailwindcss";

@keyframes marquee-mobile {
  0% {
    transform: translateX(0)
  }

  100% {
    transform: translateX(-116%)
  }

  /* Para 3x repetição */
}

@keyframes marquee-tablet {
  0% {
    transform: translateX(0)
  }

  100% {
    transform: translateX(-60%)
  }

  /* Para 2x repetição */
}

@keyframes marquee-desktop {
  0% {
    transform: translateX(0)
  }

  100% {
    transform: translateX(-59.5%)
  }

  /* Para 1.7x repetição ou mais imagens */
}

@layer utilities {
  .animate-marquee {
    animation: marquee-mobile 5s linear infinite;
  }

  /* Small screens (sm: 640px+) */
  @media (min-width: 640px) {
    .animate-marquee {
      animation: marquee-tablet 40s linear infinite;
    }
  }

  /* Medium screens (md: 768px+) */
  @media (min-width: 768px) {
    .animate-marquee {
      animation: marquee-tablet 35s linear infinite;
    }
  }

  /* Large screens (lg: 1024px+) */
  @media (min-width: 1024px) {
    .animate-marquee {
      animation: marquee-desktop 30s linear infinite;
    }
  }

  /* Extra Large screens (xl: 1280px+) */
  @media (min-width: 1280px) {
    .animate-marquee {
      animation: marquee-desktop 25s linear infinite;
    }
  }
}

::-webkit-scrollbar {
  display: none;
}

@theme {
  /* backgrounds */
  --color-bg: #f6f6f3;
  --color-bg-cont: #ffffff;
  --color-bg-subcont: #efefe9;
  --color-bg-footer: #2c2c36;
  /* text */
  --color-text: #1f1f1f;
  --color-text-inverted: #f7f7f7;
  /* border */
  --color-border-cont: #d2d2d2;
  --color-border-subcont: #e0e0e0;
  /* hover */
  --color-border-hover: #bcb8e0;
  --color-bg-hover: #e8e8e8;
  --color-text-hover: #141414;
  /* shadows */
  --color-shadow: #00000029;
  --color-shadow-cont: #0000001f;
  --color-shadow-subcont: #00000014;
}

.dark {
  /* backgrounds */
  --color-bg: #181821;
  --color-bg-cont: #272138;
  --color-bg-subcont: #352d46;
  --color-bg-footer: #42424e;
  /* text */
  --color-text: #f0f0f0;
  --color-text-inverted: #1e1e1e;
  /* border */
  --color-border-cont: #3b3b3b;
  --color-border-subcont: #4c445a;
  /* hover */
  --color-border-hover: #6b5d8f;
  --color-bg-hover: #3f3f4a;
  --color-text-hover: #ffffff;
  /* shadows */
  --color-shadow: #0000003d;
  --color-shadow-cont: #00000029;
  --color-shadow-subcont: #0000001a;
}

html,
header,
body,
main {
  transition: background-color 0.8s ease, color 0.8s ease;
}

html,
body,
main,
section {
  font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;
  box-sizing: border-box;
}

#menuContainer {
  filter: drop-shadow(0px 2px 5px var(--shadow));
}