/*#343434 cinza solido para caso surja ideias*/
@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

@theme {
  /* backgrounds */
  --color-bg: linear-gradient(95.55deg, #FFFFFF 40.29%, #EDFEFF 100.05%);
  --color-bg-cont: #ffffff;
  --color-bg-subcont: linear-gradient(90deg, rgba(249, 249, 249, 0.3) 0%, rgba(223, 223, 223, 0.3) 100%);
  --color-bg-footer: #1f1f29;
  --color-bg-input: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(228, 228, 228, 0.05) 100%);
  /* buttons */
  --color-btn-submit: #625bff;
  /* text */
  --color-text: #1a1a1a;
  --color-text-secondary: #3d3d3d;
  --color-text-title: #22222b;
  --color-text-subtitle: #22222a;
  --color-text-topic: #222229;
  --color-text-inverted: #fafafa;
  --color-text-light: #ffffff;
  --color-text-footer: #fafafa;
  --color-text-link: #00bbff;
  /* border */
  --color-border-cont: #cccccc;
  --color-border-subcont: #dddddd;
  /* hover */
  --color-border-hover: #9a94d8;
  --color-bg-hover: #e6e6ea;
  --color-inverted-hover: #111111;
  --color-btn-hover: #A6ECFF;
  /* shadows */
  --color-shadow: #00000026;
  --color-shadow-cont: #0000001a;
  --color-shadow-subcont: #00000012;
}

.dark {
  /* backgrounds */
  --color-bg: linear-gradient(95.61deg, #121218 46.19%, #272938 100.03%);
  --color-bg-cont: #2a2a34;
  --color-bg-subcont: linear-gradient(90.2deg, rgba(56, 54, 54, 0.075) 1.31%, rgba(246, 243, 243, 0.075) 99.83%);
  --color-bg-footer: #373744;
  --color-bg-input: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(228, 228, 228, 0.05) 100%);
  /* buttons */
  --color-btn-submit: #656c7d;
  /* text */
  --color-text: #b0b0b0;
  --color-text-secondary: #e5e5e5;
  --color-text-title: #cfcfcf;
  --color-text-subtitle: #e1e1e1;
  --color-text-topic: #e1e1e1;
  --color-text-inverted: #141414;
  --color-text-light: #ffffff;
  --color-text-footer: #fafafa;
  --color-text-link: #00bbff;
  /* border */
  --color-border-cont: #3a3a3a;
  --color-border-subcont: #4a4258;
  /* hover */
  --color-border-hover: #7b6fad;
  --color-bg-hover: #3a3a46;
  --color-inverted-hover: #ffffff;
  --color-btn-hover: #8885c0;
  /* shadows */
  --color-shadow: #00000040;
  --color-shadow-cont: #0000002b;
  --color-shadow-subcont: #00000018;
}


* {
  transition: background-color 0.8s ease, color 0.8s ease;
}

html {
  font-family: 'Roboto Mono';
}

body {
  font-size: 15px;
  box-sizing: border-box;
  background: var(--color-bg);
}

#menuContainer {
  filter: drop-shadow(0px 2px 5px var(--shadow));
}

.container {
  background: var(--color-bg-cont);
  border-color: var(--color-border-cont);
}

.subContainer {
  background: var(--color-bg-subcont);
  border-color: var(--color-border-subcont);
}

.subContainer:hover {
  border-color: var(--color-btn-hover);
}

.inputbg {
  background: var(--color-bg-input);
}